[tool.poetry]
name = "dweepbot"
version = "0.1.0"
description = "A professional structure for the DweepBot"
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"